* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  --bacground-color:#171821;
  --secondary-background-color:#21222D;
  --buttons-color:#387BFF;
  --main-text-color:#FFFFFF;
  --nav-text-color:#87888C;
  --hover-text-color:#000000;
}
.main_view {
  display: flex;
}
